.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;

  padding: 4px 0px;
}

.spacer {
  height: 4px;
  width: 12px;
  background-color: #aaaa;
  border-radius: 2px;
}

.word,
.word a {
  color: currentColor;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  margin-block: 0;
  margin: 2px 2px;
}

.word svg {
  color: #888;
  font-size: 0.8em;
  align-self: flex-start;
}
