.nest {
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;
}

.left {
  stroke: var(--left-color);
}

.top {
  stroke: var(--top-color);
}

.right {
  stroke: var(--right-color);
}

.bottom {
  stroke: var(--bottom-color);
}
