.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 4px;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
  row-gap: 8px;
}

.container {
  button {
    font-size: 32px;
    padding: 12px 20px;

    border-radius: 16px;
    color: currentColor;
    border: 1px solid var(--button-outline-color);
    background-color: rgba(from var(--button-color) r g b / 0.1);
    text-transform: capitalize;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button:disabled {
    color: hsl(from var(--button-color) h s calc(l/2));
  }
}
