.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 4px;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container button {
  font-size: 32px;
  padding: 12px 28px;
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #eee6;
  text-transform: capitalize;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
