.loader {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "loader text"
    "loader info";

  width: min-content;
}

.loader > div {
  grid-area: loader;
  padding-right: 16px;
}

.loader > span {
  grid-area: text;
  width: max-content;
}

.loader button,
.solve {
  width: max-content;
  font-size: 18px;
  border: 1px solid black;
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.info {
  width: max-content;
  grid-area: info !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  font-variant-numeric: tabular-nums;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid transparent;
  width: 100%;
}

.container.solved {
  border-bottom: 2px solid var(--button-outline-color);
}
