.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container a {
  padding: 16px;
  font-size: 2em;
  border: 2px solid var(--link-color);
  border-radius: 16px;
  color: var(--link-color);
}

.container a:focus,
.container a:hover {
  background-color: var(--link-color);
  color: white;
}
