.backdrop {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog {
  min-width: 200px;
  max-width: 600px;
  max-height: 80vh;
  overflow: hidden;
  border: 1px solid #333a;
  border-radius: 16px;
  background-color: #fff;
  margin: 32px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 16px 8px #0004;
}

@media (max-width: 600px) {
  .dialog {
    width: 100%;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #333a;
    margin: 0;
    max-height: 90%;
  }

  .backdrop {
    justify-content: flex-end;
  }
}

.dialog a {
  color: black;
  border-bottom: 1px solid var(--link-color);
}

.header {
  border-bottom: 2px solid var(--button-outline-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin-block: 0;
  margin: 16px 0px 8px 16px;
}

.header button {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border: 0;
  border-left: 2px solid var(--button-outline-color);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 8px 16px 16px 16px;
  overflow: auto;
  flex: 1;
}
