.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

.input {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 4px solid #000;
  text-align: center;
  width: 100%;
  margin-top: 12px;
  padding-bottom: 4px;
  margin-bottom: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.caret {
  height: 1.5em;
  width: 4px;
  background-color: #000;
  animation: caret 1100ms linear infinite;
  margin: 0 2px;
}

@keyframes caret {
  15%,
  85% {
    opacity: 0;
  }
}

.complete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  padding-top: 16px;
}

.complete > h1 {
  margin-block: 0;
}

.complete > button {
  border: 1px solid #333;
  background-color: transparent;
  border-radius: 8px;
  font-size: 30px;
  margin: 0;
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  font-size: 18px;
  transition: 0.25s all;
}

.buttons button:hover {
  box-shadow: 0px 0px 8px var(--link-color);
}
