:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --background-color: #fff;

  --theme-color: #21c294;
  --link-color: #1bb489;
  --top-color: #ffcc32;
  --left-color: #f44336;
  --right-color: #7cb342;
  --bottom-color: #1976d2;
  --subtle-outline-color: #ccca;
  --button-outline-color: #999a;

  --header-background-color: #000;
  --header-foreground-color: #fff;
  --header-button-color: #fff;

  --grid-current-shadow-color: #000;
  --grid-button-background: #fff;

  --nest-line-color: #999a;
  --nest-box-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
    --background-color: #000;

    --button-color: #fff;

    --grid-current-shadow-color: #666;
    --grid-button-background: #000;

    --nest-line-color: #999a;
    --nest-box-color: #999a;
  }
}

dialog {
  color-scheme: light dark;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a,
a:link,
a:visited,
a:active {
  color: var(--link-color);
}

a,
a:link,
a:hover,
a:focus-visible,
a:active,
a:visited {
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
}

button.primary {
  background-color: var(--link-color) !important;
}

button {
  color: currentColor;
  border: 0;
}

button:disabled {
  color: #999;
}
