html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  --theme-color: #21c294;
  --link-color: #21c294;
  --top-color: #ffcc32;
  --left-color: #f44336;
  --right-color: #7cb342;
  --bottom-color: #1976d2;
  --subtle-outline-color: #ccca;
  --button-outline-color: #999a;

  --header-background-color: #000;
  --header-foreground-color: #fff;
  --header-button-color: #fff;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a,
a:link,
a:hover,
a:focus-visible,
a:active,
a:visited {
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
}

button.primary {
  background-color: var(--link-color) !important;
}

button {
  color: #000;
}

button:disabled {
  color: #999;
}
