.hamburger,
.hamburger[open] {
  border-radius: unset;
  border: 0;
  position: fixed;
  right: 0px !important;
  top: 0px;
  height: 100dvh;
  margin-left: auto;
  margin-right: 0;

  border: 0;
  max-height: unset;
  width: clamp(200px, 400px, 80vw);

  display: flex;
  flex-direction: column;
}

.hamburger .header {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: flex-end;
}

.hamburger .header button {
  font-size: 30px;
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid black;
}

.hamburger .previousSolution {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.hamburger .menuItem {
  list-style-type: none;
  padding: 4px 0;
  border-top: 1px solid #999a;

  display: flex;
  flex-direction: row;
}

.hamburger .menuItem button {
  flex: 1;
  display: flex;
  font-size: 1.5em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border: 0;
  background-color: transparent;
  text-wrap: pretty;

  cursor: pointer;
}

.hamburger .menuItem button svg {
  font-size: clamp(1em, 30px, 30px);
  opacity: 0.5;
}

.hamburger .previousSolutions {
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid #999a;
}

.hamburger .previousSolution li {
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger .previousSolution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style-type: none;
  margin-block-start: 8px;
  margin-block-end: 8px;
  padding-inline-start: 0px;

  text-transform: uppercase;
}

.hamburger .previousSolutions .menuItem button {
  flex: 0;
}

.hamburger .previousSolutions .menuItem {
  border-top: 0;
  border-bottom: 1px solid #999a;
}
