.previousSolution {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.menuItem {
  list-style-type: none;
  padding: 4px 0;
  border-top: 1px solid #999a;

  display: flex;
  flex-direction: row;
}

.menuItem button {
  flex: 1;
  display: flex;
  font-size: 1.5em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border: 0;
  background-color: transparent;
  text-wrap: pretty;

  cursor: pointer;
  color: currentColor;
}

.menuItem button svg {
  font-size: clamp(1em, 30px, 30px);
  opacity: 0.5;
}

.previousSolutions {
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid #999a;
}

.previousSolution li {
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.previousSolution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style-type: none;
  margin-block-start: 8px;
  margin-block-end: 8px;
  padding-inline-start: 0px;

  text-transform: uppercase;
}

.previousSolutions .menuItem button {
  flex: 0;
}

.previousSolutions .menuItem {
  border-top: 0;
  border-bottom: 1px solid #999a;
}
