.outerContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: currentColor;
}

.container button {
  border-radius: 4px;
  background-color: transparent;
  --color: currentColor;
  --dimmed: hsl(from var(--color) h s calc(l * 0.6));
  color: var(--dimmed);
  border: 1px solid var(--dimmed);
  padding: 4px 8px;
}
